* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #d3d3d3;
}

#featuredLink {
    margin-left: auto;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: red;
}

.playlist-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playlist-card {
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    flex-grow: 1;
    gap: 5px;
    /* width: 15%; */
    max-width: 15%;
    margin: 30px 60px;
    border-radius: 10px;
    background-color: white;
    min-width: 200px;
}

.playlist-card * {
    word-wrap: break-word;
    border-radius: 10px;
    background-color: white
}

.playlist-title,
.playlist-creator {
    text-align: center;
}

.modal-overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(5px);

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   display: flex;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.modal-playlist-container {
    display: flex;
    align-items: center;
}

.modal-playlist-container img {
    border-radius: 5px;
}

.modal-playlist-container #playlist-info {
    margin-left: 20px;
}

.modal-playlist-container .close {
    margin-left: auto;
    margin-bottom: auto;
}

#playlistImage {
    max-width: 30%;
}

.modal-song-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.song-card {
    display: flex;
    height: 100px;
}

.song-card img {
    height: 100%;
    border-radius: 5px;
}

.song-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

.songDuration {
    display: flex;
    margin-left: auto;
    align-items: center;
}

#shuffle-button {
    padding: 5px 15px;
    margin: 10px auto;
    background-color: #e0e0e0;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
}

.like-button {
    margin: 0px auto;
    border: none;
    cursor: pointer;
}

.delete-button {
    margin: 0px auto;
    border: none;
    cursor: pointer;
}